/*Map Style*/
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/*Legend Style*/
.legend {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  padding: 12px;
  border-radius: 8px;
  font:
    12px/1.4 Arial,
    sans-serif;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.legend-colcircle {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--legendcolour);
  border: 1px solid #999;
}

/*Legend Checkbox Style */
.legend-row input[type="checkbox"] {
  margin: 0;
}

/*Legend 2 Style */
.legend2 {
  top: 250px;
}

/*Map Title Style */
.map-title {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.95);
  padding: 10px 14px;
  border-radius: 8px;
  font:
    bold 20px/1.3 Arial,
    sans-serif;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/*Measuring Tool Style */
#measure-toggle {
  position: absolute;
  right: 20px;
  bottom: 370px;
  padding: 10px 14px;
  background: white;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/*Distance Display Style */
.distance-container {
  position: absolute;
  right: 20px;
  bottom: 325px;
  pointer-events: none;
}

/*Distance Display Text Style */
.distance-container pre {
  margin: 0;
  padding: 10px 14px;
  background: rgba(255, 255, 255, 0.95);
  color: #222;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

/*Format Legend Rown Style */
.legend-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px 0;
  cursor: pointer;
}

/*Format Legend Title Style */
.legend-title {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 4px;
}

/*Format Legend Title Subtitle Style */
.legend-subtitle {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 8px;
}

/*Reset View Button Style */
.reset-view {
  position: absolute;
  left: 20px;
  top: 80px; /* adjust based on your layout */
  padding: 10px 14px;
  background: white;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
